/* COLORS */
  // Primary
  $primaryGreen: #32ff87;

  // Secondary
  $secondaryBlue: #23b0f1;
  $secondaryRed: #ff6b29;
  $secondaryGreen: #494;
  $secondaryYellow: #ffeb37;

  // Default
  $defaultBlack: #333;
  $defaultLightgrey: #d3d3d3;
  $defaultDarkgrey: #888;
  $defaultWhite: white;
