@import "./layout.scss";

/* ELEMENTS */
// Buttons
button {
  padding: $paddingM;

  cursor: pointer;
  background: $defaultWhite;
  border: $borderNone;

  font-size: $fontSizeM;
  text-transform: uppercase;
}

// Hover
.hoverBackground:hover {
  background: $primaryGreen;
}
.hoverColor:hover {
  color: $primaryGreen;
}
