@import "../../index.scss";

.SearchBar {
  height: $heightRow - 10px;
  margin-bottom: $marginM;
  padding: $paddingM $paddingS;

  border-bottom: $borderS;

  input {
    width: $widthFull;
    height: $heightFull;
    padding-left: $paddingL;

    background: $primaryGreen;
    border: $borderNone;
    border-radius: $borderRadiusXL;

    font-size: $fontSizeM;
  }
}
