@import "../../index.scss";

.Header {
  position: fixed;
  top: 0;
  width: $widthFull;

  background: $defaultWhite;
  border-bottom: $borderS;

  nav {
    #topRow {
      height: $heightRow;

      border-bottom: $borderS;

      .Logo {
        height: $heightFull;

        text-transform: none;

        a {
          font-size: $fontSizeS;
          text-decoration: none;
        }
      }
      #btnLogin {
        float: right;
        width: $widthCol * 2;
        height: $heightFull;

        border-left: $borderS;

        text-align: right;
      }
    }
    #bottomRow {
      height: $heightRow;

      #btnMenu {
        height: $heightFull;

        svg line {
          stroke: $defaultBlack;
          stroke-width: 2px;
        }
      }
      #btnMenu:hover svg line {
        stroke: $primaryGreen;
      }

      #btnSignup {
        float: right;
        width: $widthCol * 2;
        height: $heightFull;

        border-left: $borderS;

        text-align: right;
      }
    }
    .HeaderNavigation {
      display: none;
    }
  }
}
