@import "./styles/styles.scss";

* {
  margin: $marginNone;
  padding: $paddingNone;

  // box-sizing: border-box;

  @include font-smoothing;
  @include font-family-regular;
  font-size: 12px;
  color: $defaultBlack;
}

html {
  height: $heightFull;
}
